#uploadArea {
    position: fixed;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);

}

#PL_JS_Alerts {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

.PL_JS_Alert {
    border-radius: 0.5rem;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.PL_JS_Title {
    color: white;
    background-color: #03A9F4;
    padding: .5rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
}

.PL_JS_Content {
    font-size: 1rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    border-bottom: 1px solid #eee;
}

.PL_JS_Countdown {
    text-align: right;
    font-size: 0.5rem;
}

.uploadAreaTips {
    font-size: 16px;
    position: fixed;
    left: 50%;
    padding: 16px;
    bottom: -100px;
    transform: translate(-50%, 0);
    background-color: #2196f3;
    color: white;
    text-align: center;
    transition: bottom 0.3s ease-in-out;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);

}

#PNG_upload_prompt {
    font-size: 16px;
    position: fixed;
    top: 20%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    background-color: #2196f3;
    border: 1px solid #eee;
    padding: 16px;
    text-align: center;
}

.PNGiframe {
    position: fixed;
    width: 780px;
    height: 100%;
    bottom: 0;
    border: none;
    transition: left right 0.4s ease;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 3rem, rgba(0, 0, 0, 0.06) 0px 2px 4px;
}

.Functional_animation span {
    font-size: 2em;
}

.Functional_animation {
    top: 60%;
    position: absolute;
    bottom: 0;
    z-index: 9998;
    transition: left 3s ease;
    width: 200px;
}

.animation_finger {
    width: 155px;
    height: 200px;
}

.Functional_animation.active {
    right: 0%;
}