body {
    min-width: 720px;
}

.item {
    width: 360px;
    min-height: 104px;
    margin: 5px;
    background-color: white;
}

.item .FileMedia {
    width: 100%;
    min-height: 104px;
    object-fit: cover;
}

.item #textarea {
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
}

.item #textarea:focus {
    outline: none;
    border: none;
}

.delete {
    user-select: none;
    width: 2rem;
    line-height: 2rem;
    color: red;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

.delete:hover {
    color: white;
    background-color: red;
}

.delete-loading {
    position: absolute;
    top: 45%;
    left: 49%;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #4183d7;
    border-top: 10px solid #f5ab35;
    animation: delete-loading-animation 1.2s ease-in-out infinite alternate;
}

@keyframes delete-loading-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(720deg);
    }
}

.copy {
    user-select: none;
    width: 2rem;
    line-height: 2rem;
    color: black;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    right: 32px;
    z-index: 999;
}

.copy:hover {
    background-color: #0d6efd;
    color: white;
}

.Image_Width_And_Height {
    user-select: none;
    font-size: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    line-height: 2rem;
    text-align: center;
    display: block;
    color: white;
    background-color: #0000002d;
    position: absolute;
    top: 0;
}

.urlDate {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.logurl {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    background-color: #0000002d;
    width: 100%;
    color: white;
}

.gigante {
    border: #03a9f4 2px solid;
}

.Selected_But {
    margin: 0px 5px 0 5px;
}

.head {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0px
}

#container {
    min-height: 150px;
    margin-top: calc(var(--bs-gutter-x) * .5)
}

.foot {
    position: sticky;
    bottom: 0;
    background: #fff;
}

nav {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #eee;
}

#Bottom_button {
    padding-bottom: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9991;

}

.overlay img,
video,
textarea {
    width: 90%;
    height: 90%;
    object-fit: contain;
    transition: transform .5s ease-in-out;
}

.overlay img {
    position: absolute;
}

.overlay video {
    position: absolute;
}


.close-button {
    user-select: none;
    position: absolute;
    top: 0;
    right: 0em;
    background-color: #999;
    width: 2em;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
    z-index: 9992;
    text-align: center;
    border-radius: 0px 0px 0px 1em;
}

.close-button:hover {
    background-color: #8f8f8f;
}

.zoomdiv {
    position: absolute;
    bottom: 5px;
    display: flex;
}

.zoom-button {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
    user-select: none;
    z-index: 9992;
}

.zoom-button:hover {
    background-color: #eee;
}

.zoom-in {
    font-size: 20px;
}

.zoom-out {
    font-size: 26px;
}

#Select_mode {}

#Copy_Selected {
    min-width: 110px;
}

.Copy_Selected button {
    font-weight: bold;
    border: 2px solid #4433ff;
    color: #4433ff;
}

.Copy_Selected button:hover {
    color: #fff;
    border: 2px solid #4433ff;
    background-color: #4433ff;
}


.Copy_Selected button:nth-child(2) {
    border-left: 1px;
}