.insertContentIntoEditorPrompt {
    color: white;
    text-align: center;
    background-color: #03a9f4;
    display: inline-block;
    height: 1.5em;
    width: 4em;
    line-height: 1.5em;
    font-size: 1em;
    user-select: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}
.insertContentIntoEditorPrompt:hover {
    background-color: #2196f3;
}