body {
    height: 100vh;
}

code {
    white-space: nowrap
}

.modal-dialog {
    position: sticky !important;
    top: 20%
}

#wrapper {
    display: flex;
    height: calc(100% - 72px);
    overflow: hidden;
    position: relative;

    .reduce {
        color: white;
        position: absolute;
        top: 0;
        left: 176px;
        font-size: 18px;
        width: 24px;
        height: 24px;
        text-align: center;
        background-color: transparent;
    }

    .reduce.reduce-active {
        left: 0;
        background-color: #adb5bd;
    }

    .reduce:hover {
        background: #575757 !important;
    }
}

.sidebar.reduce-active {
    position: absolute;
    left: -200px;
}

.sidebar {
    background-color: #333;
    color: white;
    width: 200px;
    min-width: 200px;
    padding: 20px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    .buttons button {
        background: none;
        border: none;
        color: white;
        margin: 10px 0;
        width: 100%;
        text-align: left;
        font-size: 16px;
        transition: background 0.3s ease;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttons button:hover {
        background: #575757;
    }

    .add-button {
        position: relative;
        width: 100%;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border: 1px solid #34974d;
        background-color: #3aa856;
        margin-top: 4px;
    }

    .add-button,
    .button__icon,
    .button__text {
        transition: all 0.3s;
    }

    .add-button .button__text {
        width: 100%;
        color: #fff;
        font-weight: 600;
    }

    .add-button .button__icon {
        right: 0;
        position: absolute;
        height: 100%;
        width: 40px;
        background-color: #34974d;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .add-button .svg {
        width: 30px;
        stroke: #fff;
    }

    .add-button:hover {
        background: #34974d;
    }

    .add-button:hover .button__text {
        color: transparent;
    }

    .add-button:hover .button__icon {
        width: 100%;
        transform: translateX(0);
    }

    .add-button:active .button__icon {
        background-color: #2e8644;
    }

    .add-button:active {
        border: 1px solid #2e8644;
    }
}

.sidebar::-webkit-scrollbar {
    display: none;
    /* 对于Webkit浏览器，隐藏滚动条 */
}

.sidebar .buttons button {
    .icon {
        position: absolute;
        top: 0;
        line-height: 40px;
        display: none;

        & svg {
            width: 24px;
            height: 24px;
        }
    }

    .selected.icon {
        display: block;
    }

}

.sidebar .buttons button.active {
    color: white;
    background: #2e1bff;

    .selected.icon {
        display: none;
    }

    .selected:after {
        background-color: transparent;
    }

    & span {
        color: white;
    }
}

.sidebar .buttons button:hover {
    & span {
        color: white;
    }

    .icon {
        display: none;
    }
}

.sidebar .buttons .selected {
    color: transparent;
}

.sidebar .buttons .selected:after {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #2e1bff;
}

#content {
    flex-grow: 1;
    background-color: #f4f4f4;
    padding: 20px;
    overflow: auto;

    .content-frame {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .left {
        width: 100%;
        min-width: 540px;
        max-width: 960px;
        margin-right: 10px;
    }

    .right {
        min-width: 380px;
    }
}

.Config-Bottom-Boxs {
    border-radius: 20px;
    padding: 10px;

    & div {
        position: relative;
    }

    .one {
        margin-top: 0;
        column-count: 2;
        text-align: center;

        .btn-group {
            width: 100%;
        }

        & button {
            width: 100%;
        }
    }

    .Config-Bottom-Box {
        padding: 4px 0
    }
}

.main-right .Config-Bottom-Boxs .one div,
.main-right .Config-Bottom-Boxs .one button {
    width: 100%
}


.BedConfigShow {
    position: absolute;
    font-size: 24px;
    right: 10px;
    top: 0px
}

.BedConfigShow:hover {
    color: #2e1bff
}

.Config-Box {
    display: flex
}

.Config-Box-Log-haed {
    text-align: center;
    background-color: #007bff;
    border-radius: 16px 16px 0 0;
    padding: 8px;
    user-select: none
}

.Config-Box-Log-haed-del {
    position: absolute;
    right: 8px;
    color: white
}

.Config-Box-Log-haed-del:hover {
    color: #2e1bff
}

.Config-Box-Log-content .moving {
    background: transparent;
    color: transparent;
    animation: border-Blink 1s infinite;

}

@keyframes border-Blink {
    0% {
        border: 1px dashed #ccc;
    }

    50% {
        border: 1px dashed #3a86ff;
    }

    100% {
        border: 1px dashed #ccc;
    }
}

.Config-Box-Log-item {
    padding: 5px;
    display: flex;
    justify-content: space-between;

    .edit-input {
        width: 100%;
        background-color: #f5f5f5;
        color: #242424;
        padding: .15rem .5rem;
        outline: none;
        border: none;
        box-shadow: 0px 10px 20px -18px;
    }

    .edit-input:focus {
        border-bottom: 2px solid #5b5fc7;
    }

    .edit-input:hover {
        outline: 1px solid lightgrey;
    }
}


.BedConfigName {
    width: 100%;
    user-select: none
}

.Config-Box-Log-item:hover .BedConfigName span {
    color: #6c757d
}

.Config-Box-Log-item {
    .button {
        margin: 0 4px;
        user-select: none;
        color: #2e1bff;
        border: none;
        background: none;
        padding: 0;
    }

    .button:hover {
        color: red
    }
}

.Config-Box-Right {
    margin-top: .5rem
}

.Config-Box-Right:nth-child(2) {
    padding: 0 5px
}

.Config-Box-Right-header {
    padding: .5rem 0;
    display: flex;

    & div {
        margin: 0 5px
    }

    & div:nth-child(1) {
        margin-left: 0
    }
}


@media screen and (min-width:2000px) {}

@media screen and (max-width:1200px) {
    .right {
        margin-top: 10px;
        min-width: 540px !important;
    }

    #content .content-frame {
        flex-direction: column;
        justify-content: initial;
    }
}



@media screen and (max-width: 800px) {
    #wrapper .reduce {
        left: 0;
        background-color: #adb5bd;
    }

    #wrapper .sidebar {
        display: none;
    }

    #wrapper .sidebar.reduce-active {
        display: block;
    }
}

.options-form {
    padding: 0 8px;
}

.form-group .form-floating .textarea-label {
    display: block;
}

.form-group .form-check input {
    border: none;
    height: 16px;
}

.form-group .form-check.form-check-inline input {
    border: 1px #999 solid;
    width: 16px;
    height: 16px;
}

.form-group .form-check input:focus {
    border: none;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;

    & label {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin: 0px;
        padding: 0;
    }

    & p {
        font-size: 12px;
        color: #6d6d6d;
        margin: 0 0 0 4px;
    }

    & input {
        width: 100%;
        border: none;
        border-bottom: #eee 4px solid;
        height: 40px;
        padding: 0 0 0 6px;
        position: relative;
    }

    & input:focus {
        outline: none;
        border-bottom: #03a9f4 4px solid;
    }

    .required-marker {
        font-size: 16px;
        color: red;
        margin: 4px;
    }

}

.form-text {
    margin-bottom: 10px
}

.options_Open_with {
    margin-top: 1rem;
    border: none;
    background-color: #03a9f4;
    color: white;
    padding: .4rem
}

.options_Open_with:hover {
    background-color: #2196f3
}

.switch {
    top: .7rem;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    & input {
        display: none
    }

    & input:checked+.slider {
        background-color: #2196F3
    }

    & input:focus+.slider {
        box-shadow: 0 0 1px #2196F3
    }

    & input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px)
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s
    }
}

.slider.round {
    border-radius: 34px
}

.slider.round:before {
    border-radius: 50%
}

.ImgurPostModeDiv {
    margin: 1rem;
    user-select: none
}

#PNGmodal-body {
    width: 100%;
    height: 350px;
    padding: 0;
    margin: 0;
    display: flex;
    user-select: none
}

#edit_uploadArea {
    height: 64px;
    width: 10px;
    cursor: move;
    position: absolute
}

.css-button-rounded--sky {
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #4433ff;
    background: #4433ff
}

.css-button-rounded--sky:hover {
    background: #fff;
    color: #4433ff
}

.css-button-sliding-bottom {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: none;
    color: #4433ff
}

.css-button-sliding-bottom:hover {
    color: #fff
}

.css-button-sliding-bottom:hover:after {
    height: 100%
}

.css-button-sliding-bottom:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background: #4433ff
}

.css-button-sliding-top {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: none;
    color: #4433ff
}

.css-button-sliding-top:hover {
    color: #fff
}

.css-button-sliding-top:hover:after {
    height: 100%
}

.css-button-sliding-top:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #4433ff
}

.css-button-sliding-right {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: none;
    color: #4433ff
}

.css-button-sliding-right:hover {
    color: #fff
}

.css-button-sliding-right:hover:after {
    width: 100%
}

.css-button-sliding-right:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #4433ff
}

.css-button-sliding-left {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: none;
    color: #4433ff
}

.css-button-sliding-left:hover {
    color: #fff
}

.css-button-sliding-left:hover:after {
    width: 100%
}

.css-button-sliding-left:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #4433ff
}

#carouselExampleCaptions,
#carouselExampleCaptions img {
    width: 100%;

}

.on:after,
.off:after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 8px;
    top: 50%;
    animation: pulse 1.5s infinite;
}

.on:after {
    background: green;
}

.off:after {
    background: red;
}

/* 定义动画 */
@keyframes pulse {
    0% {
        transform: translateY(-50%) scale3d(1.2, 1.2, 1.2);
    }


    50% {
        transform: translateY(-50%) scale3d(1, 1, 1);
    }

    100% {
        transform: translateY(-50%) scale3d(1.2, 1.2, 1.2);
    }
}


#insertionModal {
    .modal-body {
        max-height: 450px;
        overflow: auto;
    }

    & td:nth-child(1) {
        width: 50%;
    }

    & td:nth-child(2) {
        width: 30%;
    }

    & td:nth-child(3) {
        width: 20%;
    }

    & input {
        width: 100%;
        outline-style: none;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    & input:focus {
        border: 1px solid #03a9f4;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
    }

    & select {
        outline-style: none;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    & select:focus {
        border: 1px solid #03a9f4;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        max-width: 1000px;
        height: 680px;
        background: #6cbbfc;
        color: white;
        padding: 20px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)
    }
}

.content {
    .cards {
        padding: 20px 0;
        max-height: 500px;
        display: flex;
        gap: 14px;
        overflow: auto;
        font-size: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        position: relative;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .cards::-webkit-scrollbar {
        width: 0px;
        /* 滚动条宽度 */
    }

    .cards::-webkit-scrollbar-track {
        background: #eee;
    }

    .cards::-webkit-scrollbar-thumb {
        background: #888;
    }

    .cards::-webkit-scrollbar-thumb:hover {
        background: #555;
        /* 滚动条滑块悬停颜色 */
    }
}

.content .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    & p.tip {
        font-size: 1em;
        font-weight: 700;
        margin: 0;
        user-select: none;
    }
}

.card.active {
    transform: scale(1.06, 1.06);
    border: #dee2e6 4px solid;
}

.content .cards .card:hover {
    transform: translateY(-4px);
}

.welcomeContentButton {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .buttonModuleSelect {
        position: relative;
        top: 1px;
        width: 27px;
        height: 27px;
        border: 1px solid #c8ccd4;
        border-radius: 3px;
        cursor: pointer;
        display: block;
        margin-left: 20px;
    }

    .buttonModuleSelect:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 8px;
        width: 7px;
        height: 14px;
        opacity: 0;
        transform: rotate(45deg) scale(0);
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transition: all 0.3s ease;
        transition-delay: 0.15s;
    }


    #buttonModuleSelect:checked~.buttonModuleSelect {
        border-color: transparent;
        background: #6871f1;
        animation: jelly 0.6s ease;
    }

    #buttonModuleSelect:checked~.buttonModuleSelect:after {
        opacity: 1;
        transform: rotate(45deg) scale(1);
    }

    .cntr {
        position: relative;
    }

    @keyframes jelly {
        from {
            transform: scale(1, 1);
        }

        30% {
            transform: scale(1.25, 0.75);
        }

        40% {
            transform: scale(0.75, 1.25);
        }

        50% {
            transform: scale(1.15, 0.85);
        }

        65% {
            transform: scale(0.95, 1.05);
        }

        75% {
            transform: scale(1.05, 0.95);
        }

        to {
            transform: scale(1, 1);
        }
    }

    .hidden-xs-up {
        display: none !important;
    }

}


.primary-button {
    font-family: 'Ropa Sans', sans-serif;
    /* font-family: 'Valorant', sans-serif; */
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid #0E1822;
    padding: 0.8rem 2.1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: #0E1822;
    background-size: 200%;
    background-position: 200%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border, color;
    position: relative;
    z-index: 1;
}

.primary-button:hover {
    border: 1px solid #FF4655;
    color: white;
    background-position: 40%;
}

.primary-button:before {
    content: "";
    position: absolute;
    background-color: #0E1822;
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out;
}

.primary-button:hover:before {
    background-color: white;
}

.primary-button:hover:after {
    background-color: white;
}

.primary-button:after {
    content: "";
    position: absolute;
    background-color: #FF4655;
    width: 0.3rem;
    height: 0.3rem;
    bottom: -1px;
    right: -1px;
    transition: background-color 0.15s ease-in-out;
}

.button-borders {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.button-borders:before {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    top: -0.3em;
    border: 1px solid #0E1822;
    border-bottom: 0px;
    /* opacity: 0.3; */
}

.button-borders:after {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    bottom: -0.3em;
    border: 1px solid #0E1822;
    border-top: 0px;
    /* opacity: 0.3; */
    z-index: 0;
}

.shape {
    fill: #0E1822;
}


.card.red {
    background-color: #f44336;
}

.card.blue {
    background-color: #2196f3;
}

.card.green {
    background-color: #4caf50;
}

.card.yellow {
    background-color: #ffeb3b;
    color: black;
    /* 黄色背景下的文本颜色可能需要更改为黑色以提高可读性 */
}

.card.purple {
    background-color: #9c27b0;
}

.card.orange {
    background-color: #ff9800;
}

.card.pink {
    background-color: #e91e63;
}

.card.lime {
    background-color: #cddc39;
    color: black;
}

.card.teal {
    background-color: #009688;
}

.card.indigo {
    background-color: #3f51b5;
}

.card.brown {
    background-color: #795548;
}

.card.cyan {
    background-color: #00bcd4;
}

.card.grey {
    background-color: #9e9e9e;
}

.card.deepOrange {
    background-color: #ff5722;
}

.card.lightBlue {
    background-color: #03a9f4;
}

.card.lightGreen {
    background-color: #8bc34a;
}

.card.deepPurple {
    background-color: #673ab7;
}

.collapsible-card-button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 14px 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-top: 10px;
}

.collapsible-card-button:hover,
.collapsible-card-active {
    background-color: #0056b3;
}

.collapsible-card-content {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    border-radius: 5px;
}