body{padding:0px;margin:0px;min-width:500px}
.container-md{transition:max-width 1s ease-in-out}
#header{z-index:10;background-color:#0f62fe;position:sticky;top:0}
#header .nav .nav-item a{color:#eee}
#header .nav .nav-item a:hover{transform: scale3d(1.1, 1.1, 1.1);color:white}
.title-a{text-shadow:2px 2px #03a9f4;text-decoration:none}
h1{text-align:center;background:-webkit-linear-gradient(135deg,#0eaf6d,#ff6ac6 25%,#147b96 50%,#e6d205 55%,#2cc4e0 60%,#8b2ce0 80%,#ff6384 95%,#08dfb4);-webkit-text-fill-color:transparent;-webkit-background-clip:text;-webkit-background-size:200% 100%;-webkit-animation:flowCss 12s infinite linear}
@-webkit-keyframes flowCss{0%{background-position:0 0}
100%{background-position:-400% 0}
}h1:hover{-webkit-animation:flowCss 4s infinite linear}
.box-shadow{box-shadow:0 1px 6px rgba(0,0,0,0.1),0 2px 4px rgba(0,0,0,0.06)}
.em1{padding:1em;margin:1em}
#alert{z-index:10;width:100%;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);background:transparent;color:black;font-size:1rem;text-align:center}
.alert_title{width:100%;text-align:center;line-height:2rem;background-color:#03a9f4}
.alert_title_p{font-size:1.5rem;margin:0;padding:0;width:100%;vertical-align:middle;color:white;user-select:none}
.alert_title_button{width:2rem;float:right;margin-top:-2rem;border:none;background-color:#ff5722;height:2rem;color:white}
.alert_title_button:hover{background-color:#ff9800}
.alert_content{font-size:1rem;width:100%;height:100%;overflow:hidden;vertical-align:middle;background-color:white;user-select:none}
#alertBG{z-index:10;margin:0;padding:0;position:absolute;top:0%;width:999%;height:999%;background:rgb(0 0 0 / 50%)}
.Animation_button{border:none;cursor:pointer;position:relative}
.Animation_button_span{display:block}
.Animation_button::before,.Animation_button::after{content:"";width:0;height:2px;position:absolute;transition:all .2s linear;background:-webkit-linear-gradient(180deg,#00CCFF,#0099FF 50%,#00CCFF)}
.Animation_button_span::before,.Animation_button_span::after{content:"";width:2px;height:0;position:absolute;transition:all .2s linear;background:-webkit-linear-gradient(180deg,#00CCFF,#0099FF 50%,#00CCFF)}
.Animation_button:hover::before,.Animation_button:hover::after{width:100%}
.Animation_button:hover .Animation_button_span::before,.Animation_button:hover .Animation_button_span::after{height:100%}
.Animation_button1::before,.Animation_button1::after{transition-delay:.2s}
.Animation_button1 .Animation_button_span::before,.Animation_button1 .Animation_button_span::after{transition-delay:0s}
.Animation_button1::before{right:0;top:0}
.Animation_button1::after{left:0;bottom:0}
.Animation_button1 .Animation_button_span::before{left:0;top:0}
.Animation_button1 .Animation_button_span::after{right:0;bottom:0}
.Animation_button1:hover::before,.Animation_button1:hover::after{transition-delay:0s}
.Animation_button1:hover .Animation_button_span::before,.Animation_button1:hover .Animation_button_span::after{transition-delay:.2s}
.Animation_button2::before,.Animation_button2::after{transition-delay:0s}
.Animation_button2 .Animation_button_span::before,.Animation_button2 .Animation_button_span::after{transition-delay:.2s}
.Animation_button2::before{right:0;top:0}
.Animation_button2::after{left:0;bottom:0}
.Animation_button2 .Animation_button_span::before{left:0;top:0}
.Animation_button2 .Animation_button_span::after{right:0;bottom:0}
.Animation_button2:hover::before,.Animation_button2:hover::after{transition-delay:.2s}
.Animation_button2:hover .Animation_button_span::before,.Animation_button2:hover .Animation_button_span::after{transition-delay:0s}
.Animation_button3::after{left:0;bottom:0;transition-delay:.6s}
.Animation_button3 .Animation_button_span::after{transition-delay:.4s;right:0;bottom:0}
.Animation_button3::before{right:0;top:0;transition-delay:.2s}
.Animation_button3 .Animation_button_span::before{transition-delay:0s;left:0;top:0}
.Animation_button3:hover::after{transition-delay:0s}
.Animation_button3:hover .Animation_button_span::after{transition-delay:.2s}
.Animation_button3:hover::before{transition-delay:.4s}
.Animation_button3:hover .Animation_button_span::before{transition-delay:.6s}
.Animation_button4::after{right:0;bottom:0;transition-duration:.4s}
.Animation_button4 .Animation_button_span::after{right:0;bottom:0;transition-duration:.4s}
.Animation_button4::before{left:0;top:0;transition-duration:.4s}
.Animation_button4 .Animation_button_span::before{left:0;top:0;transition-duration:.4s}
.Animation_button5::after{left:0;bottom:0;transition-duration:.4s}
.Animation_button5 .Animation_button_span::after{right:0;top:0;transition-duration:.4s}
.Animation_button5::before{right:0;top:0;transition-duration:.4s}
.Animation_button5 .Animation_button_span::before{left:0;bottom:0;transition-duration:.4s}
.Animation_button6::before{left:50%;top:0;transition-duration:.4s}
.Animation_button6::after{left:50%;bottom:0;transition-duration:.4s}
.Animation_button6 .Animation_button_span::before{left:0;top:50%;transition-duration:.4s}
.Animation_button6 .Animation_button_span::after{right:0;top:50%;transition-duration:.4s}
.Animation_button6:hover::before,.Animation_button6:hover::after{left:0}
.Animation_button6:hover .Animation_button_span::before,.Animation_button6:hover .Animation_button_span::after{top:0}
.options-loading{width:30px;height:30px;animation:animationContainer 1s ease infinite}
.loading{width:30px;height:30px;animation:animationContainer 1s ease infinite}
.UploadLog-loading{width:30px;height:30px;position:absolute;top:42%;left:46%;animation:animationContainer 1s ease infinite}
.loading-shape{width:10px;height:10px;border-radius:50%;position:absolute}
.loading-shape-1{background-color:#1875e5;left:0;animation:animationloading-shape1 0.5s ease infinite alternate}
.loading-shape-2{background-color:#c5523f;right:0;animation:animationloading-shape2 0.5s ease infinite alternate}
.loading-shape-3{background-color:#499255;bottom:0;animation:animationloading-shape3 0.5s ease infinite alternate}
.loading-shape-4{background-color:#f2b736;right:0;bottom:0;animation:animationloading-shape4 0.5s ease infinite alternate}
.overlay{position:fixed;top:0;left:0;width:100vw;height:100vh;background-color:rgba(0,0,0,0.8);display:flex;justify-content:center;align-items:center;z-index:10}
@keyframes animationContainer{0%{transform:rotate(0)}
100%{transform:rotate(360deg)}
}@keyframes animationloading-shape1{0%{transform:translate(0,0)}
100%{transform:translate(20px,20px)}
}@keyframes animationloading-shape2{0%{transform:translate(0,0)}
100%{transform:translate(-20px,20px)}
}@keyframes animationloading-shape3{0%{transform:translate(0,0)}
100%{transform:translate(20px,-20px)}
}@keyframes animationloading-shape4{0%{transform:translate(0,0)}
100%{transform:translate(-20px,-20px)}
}.css-button-rounded--black{height:40px;color:#fff;padding:5px 10px;font-weight:bold;cursor:pointer;transition:all 0.3s ease;position:relative;display:inline-block;outline:none;border-radius:5px;border:2px solid #212529;background:#212529}
.css-button-rounded--black:hover{background:#fff;color:#212529}
.css-button-rounded--red{height:40px;color:#fff;padding:5px 10px;font-weight:bold;cursor:pointer;transition:all 0.3s ease;position:relative;display:inline-block;outline:none;border-radius:5px;border:2px solid #d90429;background:#d90429}
.css-button-rounded--red:hover{background:#fff;color:#d90429}
.css-button-rounded--sky{height:40px;color:#fff;padding:5px 10px;font-weight:bold;cursor:pointer;transition:all 0.3s ease;position:relative;display:inline-block;outline:none;border-radius:5px;border:2px solid #4433ff;background:#4433ff}
.css-button-rounded--sky:hover{background:#fff;color:#4433ff}
.css-button-rounded--blue{height:40px;color:#fff;padding:5px 10px;font-weight:bold;cursor:pointer;transition:all 0.3s ease;position:relative;display:inline-block;outline:none;border-radius:5px;border:2px solid #2c0b8e;background:#2c0b8e}
.css-button-rounded--blue:hover{background:#fff;color:#2c0b8e}
.css-button-arrow--sky{height:40px;color:#fff;padding:5px 30px;font-weight:bold;cursor:pointer;transition:all 0.3s ease;position:relative;display:inline-block;outline:none;overflow:hidden;border-radius:5px;border:none;background-color:#4433ff}
.css-button-arrow--sky:hover{border-radius:5px}
.css-button-arrow--sky:hover:after{opacity:1;right:10px}
.css-button-arrow--sky:after{content:"\00BB";position:absolute;opacity:0;font-size:20px;line-height:40px;top:0;right:-20px;transition:0.4s}
#options_exe .css-button-shadow--sky{height:40px;color:#fff;padding:5px 10px;font-weight:bold;cursor:pointer;transition:all 0.3s ease;position:relative;display:inline-block;outline:none;border-radius:5px;border:none;background-color:#3a86ff;box-shadow:0 3px 1px -2px #ccc,0 2px 2px 0 #ccc,0 1px 5px 0 #ccc}
#options_exe .css-button-shadow--sky:active{box-shadow:0 4px 2px -3px #ccc,0 4px 5px 1px #ccc,0 2px 7px 1px #ccc}